!!!
%html
  %body
    %p= "#{@user.full_name},"
    %p
      This is to confirm that your massage appointment on #{@appointment.date} at #{@appointment.reservation_time.strftime("%l:%M%p")} has been cancelled.
