= render 'shared/title', h1_msg: 'Appointment List', h3_msg: nil
= render 'shared/appointments_table', appointments: @appointments
%br/
- if policy(@appointments).create?
  = button_to 'New Appointment', new_therapist_appointment_path, method: :get, class: 'button small'
